<style>

body {background-color: #f0f0f0;  
text-align: center;
color: #333; 
font-family: Arial, sans-serif;
margin: 0; 
padding: 0; 
line-height: 1.6;}
        
div {padding: 10px; 
margin: 10px;
border: solid #ccc;
background-color: #fff;}
        
nav {background-color: #C0C0C0;
color: #fff;
padding: 15px;
font-size: 18px;
display: flex;
justify-content: space-around;}
       
h2 {color: green;              
font-size: 30px; 
margin-top: 20px;          
margin-bottom: 10px;      
font-weight: bold;       
text-align: center;}

li p {margin: 0;                
padding: 5px 0;           
font-size: 15px;          
color: #666;}

footer {background-color: #C0C0C0;    
color:black;              
text-align: center;       
padding: 20px;            
bottom: 0;               
width: 100%;}
    
hr {border: 0;                
height: 0px;              
background-color: #ccc;    
margin: 20px 0;}

article 
{width: 70%;}

img 
{max-width: 100%;
height: auto;}
</style>

section {
    display: flex;
    justify-content: space-between;
}
