body {
  background-color: #f0f0f0;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 5px;
  line-height: 1.6;
}

div {
  padding: 10px;
  margin: 10px;
  border: solid #0b6417c0;
  background-color: #fff;
}

nav {
  background-color: rgb(79, 163, 79);

  padding: 15px;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}

h1 {
  color: green;
  font-size: 100px;
  margin: 0 auto;
  font-weight: bold;
  text-align: left;
}

h2 {
  color: rgb(49, 170, 49);
  font-size: 50px;
  margin: 0 auto;
  font-weight: bold;
  text-align: left;
}

h3 {
  color: #0b6417;
  font-size: 40px;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}

h4 {
  color: forestgreen;
  font-size: 30px;
  margin: 0 auto;
  font-weight: bold;
  text-align: center;
}

h5 {
  color: seagreen;
  font-size: 20px;
  margin: 0 auto;
  font-weight: bold;
  text-align: left;
}

li p {
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  color: #666;
}

footer {
  background-color: rgb(79, 163, 79);
  color: black;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 95%;
  margin: 0 auto;
}

hr {
  border: 0;
  height: 0px;
  background-color: #ccc;
  margin: 20px 0;
}

article {
  width: 95% margin: 1 auto;
  padding: 20px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

section {
  display: flex;
  justify-content: center;
}

details summary {
  cursor: pointer;
  list-style: none;
  position: relative;
  padding-left: 20px;
}

details summary::before {
  content: "▶";
  /* Right-pointing arrow */
  position: absolute;
  left: 0;
  top: 0;
}

details[open] summary::before {
  content: "▼";
  /* Down-pointing arrow */
}